imgui.ini
custom/previous battle.cbx
settings.sav
saves
desktop.ini
*.sav
lua_log.log
eopBattles
youneuoy_Data/m2tweop_temp/save/
export_units.txt.strings.bin
pdn
data/sounds/SFX/campaign_map
data/sounds/SFX/script
data/sounds/SFX/individual
data/sounds/SFX/epiccaesarlol_sound_mod
data/sounds/SFX/Environment
data/sounds/SFX/Group
data/sounds/SFX/Interface
data/sounds/SFX/
data/sounds/Voice
data/sounds/Music
data/sounds/sound_extractor
data/text/export_units.txt.strings.bin
data/text/export_buildings.txt.strings.bin
data/text/imperial_campaign_regions_and_settlement_names.txt.strings.bin
data/text/shattered_alliances_regions_and_settlement_names.txt.strings.bin
data/text/historic_events.txt.strings.bin
data/text/expanded.txt.strings.bin del
data/text/battle_descriptions.txt.strings.bin
data/text/building_battle.txt.strings.bin del
data/text/campaign_descriptions.txt.strings.bin
data/text/climates.txt.strings.bin
data/text/cursor_action_tooltips.txt.strings.bin
data/text/diplomacy.txt.strings.bin
data/text/diplomacy_speech.txt.strings.bin
data/text/event_strings.txt.strings.bin
data/text/event_titles.txt.strings.bin
data/text/export_advice.txt.strings.bin
data/text/export_ancillaries.txt.strings.bin
data/text/export_VnVs.txt.strings.bin
data/text/menu_english.txt.strings.bin
data/text/missions.txt.strings.bin
data/text/names.txt.strings.bin
data/text/quotes.txt.strings.bin
data/text/rebel_faction_descr.txt.strings.bin
TWMapReader
converted
data/sounds/SFX/Medik_Ambient_Overhaul_backup/*
data/sounds/SFX/Medik_Ambient_Overhaul/*
data/sounds/SFX/historic_events
data/sounds/SFX/Missions
from_modeldb
eopData/discordRichPresenceCfg.json
/youneuoy_Data/plugins/lua/.idea
/data/settlements/village
eopData/discordRichPresenceCfg.json
eopData/eopScripts/.idea/.idea.lua.dir/.idea/projectSettingsUpdater.xml
eopData/eopScripts/.idea/.idea.lua.dir/.idea/workspace.xml
eopData/documentation/_static/LuaLib/extra/readme_imgui.md.html
eopData/documentation/_static/LuaLib/index.html
eopData/documentation/.buildinfo
eopData/eopScripts/helpers/inspect.lua
eopData/eopScripts/helpers/mobdebug.lua
eopData/eopScripts/helpers/tableSave.lua
/.vs
*eopData/config/discordRichPresenceCfg.json*
ago_beta.7z
/eopData/m2tweop_temp
M2TWEOPLibrary.pdb
/data/questionMarks
*.log
service.log
check.json
battle_models*.txt
ModdingToolBackup
.DS_Store
/eopData/eopScripts/Python_Scripts/unitStats
